
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

@model List<Course>

@section styles{
    <!-- DataTables CSS -->
    <link href="/Content/Admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Content/Admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
}
@section scripts{
    <style>
        .center {
            text-align: center;
        }
    </style>

    <!-- DataTables JavaScript -->
    <script src="/Content/Admin/bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="/Content/Admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="/Content/Admin/bower_components/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

        function Delete(id, name) {
            var c = confirm(name + " adli dersi silmek istediğinize emin misiniz?")

            if (c == true) {
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Course/DeleteCourse/" + id,
                    success: function (result) {
                        if (result == "succ") {
                            $("#course_" + id).fadeOut("slow");
                        }
                    }
                });
            }
        }

        function ChangeState(id) {
            $.get("/Course/ChangeCourseState/"+ id, function (result) {
                if (result==true) {
                    $("#active_"+id).removeClass("btn-danger").addClass("btn-success").html("Aktif");
                }
                else if (result==false) {
                    $("#active_"+id).removeClass("btn-success").addClass("btn-danger").html("Pasif");
                }
                else {
                    alert("Hata meydana geldi");
                }

            });
        }
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <br />
            <div class="panel-heading">
                <h3 class="center">Ders Listesi</h3>
            </div>
            <br />
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th class="center">Tip ID</th>
                                <th class="center">Ders ID</th>
                                <th class="center">Ders Adı</th>
                                <th class="center">Aktif/Pasif</th>
                                <th class="center">Düzenle</th>
                                <th class="center">Sil</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            @foreach (var item in Model)
                            {
                                <tr id="course_@item.ID" class="odd gradeX">
                                    <td>@item.MainTypeID</td>
                                    <td>@item.ID</td>
                                    <td>@item.CourseName</td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <button onclick="ChangeState(@item.ID)" id="active_@item.ID" class="btn btn-success">Aktif</button>
                                        }
                                        else
                                        {
                                            <button onclick="ChangeState(@item.ID)" id="active_@item.ID" class="btn btn-danger">Pasif</button>
                                        }
                                    </td>
                                    <td><a href="/Admin/Course/UpdateCourse/@item.ID" class="btn btn-info">Düzenle</a></td>
                                    <td><a onclick="Delete(@item.ID,'@item.CourseName')" href="javascript:;" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
